<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Figtree&display=swap" rel="stylesheet">
    <title>Email</title>
<style>
@media only screen and (max-width: 620px) {
  table[class='body'] h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }

  table[class='body'] p,
table[class='body'] td {
    font-size: 16px !important;
  }

  table[class='body'] .wrapper,
table[class='body'] .article {
    padding: 10px !important;
  }

  table[class='body'] .content {
    padding: 0 !important;
  }

  table[class='body'] .container {
    padding: 0 !important;
    width: 100% !important;
  }

  table[class='body'] .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
  }

  table[class='body'] .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
  }
}
</style></head>

<body class style="background-color: #F5F5F5; font-family: 'Figtree', sans-serif; font-size: 14px; line-height: 1.4; margin: 0; padding: 0;">
    <table role="presentation" class="body" style="border-collapse: separate; min-width: 100%; background-color: #F5F5F5; width: 100%;" width="100%" bgcolor="#F5F5F5">
        <tr>
            <td class="container" style="font-size: 14px; vertical-align: top; display: flex; padding: 3rem; max-width: 580px; width: 580px; margin: 0 auto;" width="580" valign="top">
                <div class="content" style="box-sizing: border-box; display: block; margin: 0 auto; max-width: 580px; padding: 10px;">
                    <table role="presentation" class="main" style="border-collapse: separate; min-width: 100%; background: #ffffff; border-radius: 3px; width: 100%;" width="100%">
                        <!-- MAIN CONTENT AREA -->
                        <tr>
                            <td class="wrapper" style="font-size: 14px; vertical-align: top; box-sizing: border-box; padding: 20px;" valign="top">
                                <table role="presentation" style="border-collapse: separate; min-width: 100%; width: 100%;" width="100%">
                                    <tr>
                                    </tr><tr>
                                        <td class="align-center" style="font-size: 14px; vertical-align: top; text-align: center;" valign="top" align="center">
                                            <img src="{{logoUrl}}"/>
                                        </td>
                                    </tr>
                                    <td style="font-size: 14px; vertical-align: top;" valign="top">

                                        <h2 style="color: #06CAAC; font-weight: 600; line-height: 1.4; margin: 0; margin-bottom: 30px;">hello! {{name}}</h2>
                                        <p style="font-size: 16px; font-weight: normal; margin: 0; padding-right: 20px; line-height: 1.5;">To reset your password for Whispr, please click the following link:</p>
                                        <table style="border-collapse: separate; min-width: 100%; width: 100%;" width="100%">
                                            <tr>
                                                <a href="{{resetLink}}" class="link" style="line-height: 5;">link</a>
                                            </tr>
                                        </table>
                                        <p style="font-size: 16px; font-weight: normal; margin: 0; padding-right: 20px; line-height: 1.5;">If you don’t want to reset your password, please ignore this email.</p>
                                        <br>
                                        <p style="font-size: 16px; font-weight: normal; margin: 0; padding-right: 20px; line-height: 1.5;">Thank you!</p>
                                        <p style="font-size: 16px; font-weight: normal; margin: 0; padding-right: 20px; line-height: 1.5;">Whisprblast</p>
                                    </td>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

</body></html>